html {
    height: 100%;
   
<<<<<<< Updated upstream
    background-color: aqua;
    background: url("images/flowers.png") no-repeat center fixed;     
    background-size: cover;
}
/* 
.bg {
    background-image: url("../images/pattern_flori.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */

body, .login-panel, .login-form {
=======
    background: url("../images/pattern_flori.png") no-repeat center fixed;     
    background-size: cover;

}

.login-panel, .login-form {
>>>>>>> Stashed changes
    display: flex;
    flex-direction: column;
    align-items: center;
}

body{
    background-attachment: fixed;
    height: 100%;
    justify-content: space-around;
<<<<<<< Updated upstream
    font-family: 'Quicksand', sans-serif;
}

.login-panel {
    max-width: 33.33%;
    background-color: rgb(205, 245, 146); 
    background-color: rgb(205, 245, 146, 0.8);
    height: 80%;
    max-width: 500px;
=======
}

.login-panel {
    margin: auto;
    max-width: 500px;
    background-color: rgb(205, 245, 146); 
    background-color: rgb(205, 245, 146, 0.8);
    
    margin-top: 100px;
>>>>>>> Stashed changes
    border-radius: 30px;
}

.connect-way{
<<<<<<< Updated upstream
=======
    font-size: 30px;
>>>>>>> Stashed changes
    margin: 10px;
    color:rgb(243,120,76);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.login-form{
<<<<<<< Updated upstream
    margin-top: 50px;;
    flex-grow: 3;
    width: 90%; 
    align-items: center;
    align-content: space-around;
}
/* 
img {
    width: 80%;
    height: 80%;
} */

input, button {
=======
    flex-grow: 3;
    width: 90%;
    justify-content: space-around;
}

img {
    width: 80%;
}

input, [type="submit"] {
>>>>>>> Stashed changes
    width: 95%;
    height: 30px;
    font-size: 15px;
    border-radius: 10px;
    opacity: 1;
    margin: 10px;
    border: none;
}

input:hover{
    background-color: beige;
}

<<<<<<< Updated upstream
button
=======
[type="submit"]
>>>>>>> Stashed changes
{
    background-color: rgb(243,120,76);
    color: white;
}

<<<<<<< Updated upstream
button:hover{
=======
[type="submit"]:hover{
>>>>>>> Stashed changes
    background-color: rgb(231, 109, 65);
    height: 34px;
    border: solid 5px rgb(124,176,100);
}

.alternative-connect{
    height: 30px;
    
}

a:visited, a:link{
    text-decoration: none;
    color: rgb(243,120,76);
<<<<<<< Updated upstream
=======
}

input[type=submit]{
    cursor: pointer;
}


@media screen and (max-width: 1000px) {
    body{
        height: 100%;
    }

    .login-panel{
        width: 90%;
    }

    .login-form {
        flex-grow: 5;
    }

>>>>>>> Stashed changes
}