<style>
	* {
		margin: 0;
		padding: 0;
	}
	body {
		font-family: Uptown;
	}
	.wrapper {
		width: 1170px;
		margin: auto;
	}
	header {
		background:  url(images/flowers.png);
		height: 100vh;
		-webkit-background-size: cover;
		background-size: cover;
		background-position: center center;
		position: relative;
		background-repeat: no-repeat;
	}
	.nav-area {
		float: right;
		list-style: none;
		margin-top: 30px;
	}
	.nav-area li {
		display: inline-block;
	}
	.nav-area li a {
		color: 	#FF7C59;
		text-decoration: none;
		padding: 10px 25px;
		font-family: Uptown;
		font-size: 25px;
		font-weight: bold;
		text-transform: uppercase;
	}
	
	.nav-area li a:hover {
		background: rgba(225,202,132,0.4);
		color: #333;
	}
	.logo {
		float: left;
		width:20vw;
		height:15vw;
	}
	.logo img {
		width: 100%;
		padding: 0px;
		margin-top: 0px;
	}
	.welcome-text {
		position: absolute;
		width: 600px;
		height: 300px;
		margin: 20% 30%;
		text-align: center;
	}
	.welcome-text h1 {
		text-align: center;
		color: #E3A95F;
		text-transform: uppercase;
		font-size: 60px;
	}
	.welcome-text h1 span {
		color: #E18737;
	}

	/*Resposive*/
	@media (max-width:600px) {
		.wrapper {
			width: 100%;
		}
		.logo {
			float: none;
			width: 50%;
			text-align: center;
			margin: auto;
		}
		img {
			width: ;
		}
		.nav-area {
			float: none;
			margin-top: 5vw;
		}
		.nav-area li a {
			padding: 5px;
			font-size: 11px;
		}
		.nav-area {
			text-align: center;
		}
		.welcome-text {
			width: 100%;
			height: auto;
			margin: 30% 0;
		}
		.welcome-text h1 {
			font-size: 30px;
		}
	}

	/*Fonts*/
	@font-face{
		font-family: Wood;
		src: url(fonts/Drift___.woff);
	}

	@font-face{
		font-family: Uptown;
		src: url(fonts/Uptown-Elegance-Regular.woff);
	}

</style>