@font-face {
    font-family: 'Quicksand';
    src: url(https://fonts.gstatic.com/s/quicksand/v29/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkP8o58a-wg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    font-display: swap;
}

* {
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
   
    background: url("../images/pattern.webp") no-repeat center fixed;     
    background-size: cover;
}

body{
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}


.menu button, .container {
    color: #205565;
}

.container{
    display: flex;
    margin: 10px 50px 0px 50px;
}

.menu {
    display: flex;
    flex-direction: column;
    flex:1;
}

#content-container{
    flex: 3;
}

.menu button {
    background-color: wheat;
    height: 70px;
    width: 100%;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
    font-display: swap;
    font-weight: bold;
    font-size: large;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    border-radius: 10px 0px 0px 10px;
}

.menu button.active {
    background-color: beige;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: rgb(254, 131, 79);

}

.menu button:hover
{
    background-color: white;
}

#content-container{
    background-color: powderblue;
    border-radius: 0px 50px 50px 50px;
}


#content-container{
    padding: 30px;
}

.profile-information {
    display: flex;
    flex-direction: column;
    flex:1;

    width: 75%;
    margin:auto;
    margin-top: 20px;
}



.profile-header {
    display: flex;
}


/* profile picture */
.profile-picture {
    color: transparent;
    transition: all .3s ease;
    position: relative;
    transition: all .3s ease;

    display: flex;
    justify-content: center;
    align-items: center;
    
}

.profile-picture input {
    display: none;
    cursor: pointer;
}

.profile-picture img {
    position: absolute;
    object-fit: cover;
    width: 165px;
    height: 165px;
    box-shadow: 0 0 10px 0 rgba(255,255,255,.35);
    border-radius: 100px;
    z-index: 0;
}

.profile-picture  .picture-label {
    cursor: pointer;
    height: 165px;
    width: 165px;
}
  
.profile-picture span {
    display: inline-flex;
    padding: .2em;
    height: 2em;
}

.profile-picture:hover .picture-label {
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: rgba(0,0,0,.5);
    z-index: 100;
    color: rgb(250,250,250);
    transition: background-color .5s ease-in-out;
    border-radius: 100px;
    margin-bottom: 0;
  }

/*  */

#save-button{
    z-index: 100;
    position: absolute;
    top: 400px;
    right: 80px;
}

.profile-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

    padding-left: 20px;
}
.profile-info h3{
    margin: 1px;
}

.profile-details h3{
    margin-bottom: 4px;;
}

.profile-details-label, .profile-details-value {
    margin: 0;
}

.profile-details-label{
    font-weight: bold;
    margin-top: 5px;
    width: 100%;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: powderblue;
    border-width: 0;
    color: #205565;
    font-family: 'Quicksand', sans-serif;
}


.profile-details-label:hover, .profile-details-label:focus{
    background-color: rgb(168, 217, 207);
}


.profile-details-label::after
{
    content: ":";
}

.profile-details h1{
    margin: 10px 0px;
}

.profile-details .profile-details-field{
    text-indent: 10px;
}

/* 
/* achievements card */
.badge-container{
    width: 13%;
}
.badge{
    width: 100%;
}

.tooltip {
    position: relative;
    display: inline-block;
}
.tooltip .tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    position: absolute;
    z-index: 1;
    top: 80%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.section-card{
    display: flex;
    /* box-shadow: 0 10px 10px 0 rgb(0 0 0 / 10%); */
    padding: 20px;
    margin-bottom: 20px;
}


/* followed and bookmaked courses cards */
.courses-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.section-card-content {
    margin: 5px;
}

.course-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 200px;
    height: 200px;
    align-items: center;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 10px 16px -3px, rgba(0, 0, 0, 0.2) 0px -10px 3px inset;
    border-radius: 18px;
    background: linear-gradient(0deg, rgb(254, 131, 79) 0%, rgb(245, 153, 114) 95%);
    transition: all 0.2s ease-in-out 0s;
}


.course-card:hover {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
        rgba(0, 0, 0, 0.3) 0px 15px 21px,
        rgba(0, 0, 0, 0.2) 0px -10px 3px inset;
    transition: .2s ease-in-out;
}

.course-button, #logout-button, #save-button {
    background-color: #ffffff;
    border-radius: 6px;
    border-width: 0;
    box-shadow: rgb(45 35 66 / 40%) 0 2px 4px, rgb(45 35 66 / 30%) 0 7px 13px -3px, #d6d6e7 0 -5px 0 inset;
    box-sizing: border-box;
    color: #0b628d;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
    transition: box-shadow .15s, transform .15s;
    padding-left: 14px;
    padding-right: 14px;
    height: 30px;
    font-size: 19px;
}

#logout-button {
    display: flex;
    align-items: center;
    position: relative;
    left: 240px;
}

.course-button a, #logout-button a {
    color: #0b628d;
    font-weight: 600;
}

.course-button:focus, #logout-button:focus, #save-button:focus {
    box-shadow: #fbe4ce 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0         -3px 0 inset;
}

.course-button:hover, #logout-button:hover, #save-button:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -5px 0 inset;
    transform: translateY(-2px);
}

.course-button:active, #logout-button:active, #save-button:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}

.progress-container{
    width: 80%;
    height: 10px;
    background-color: lightgray;
    border-radius: 10px;
}

.progress-bar{
    background: linear-gradient(0deg, yellowgreen 0%, green 95%);
    height: inherit;
    border-radius: inherit;
}



footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #fff;
    background-color: rgba(221, 221, 221, 0.8);
    padding: 40px 0;
    font-size: 15px;
    color: #ff7c59;
    margin-top: 100px;
  }
  

@media screen and (max-width: 1000px)
{
    body {
        margin: 0px 0px 55px;
    }

    footer{
        display: none;
    }
    
    .profile-picture img, .profile-picture  .picture-label
    {
        height: 100px;
        width: 100px;
    }

    .container {
        display: block;
        flex-direction: column-reverse;
        margin: 0;
    }

    .menu {
        display: flex;
        flex-direction: row;
        position: fixed;
        bottom: 0px;
        left: 0px;
        width: 100%;
        z-index: 100;
    }

    .menu button {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        white-space: nowrap;
        font-size: 0px;
        width: calc(20%);
        flex: 1 1 0px;
        border-radius: 0px;
    }

    #content-container {
        border-radius: 50px;
        padding: 10px;
        margin: 0px 5px;
        padding-bottom: 60px;
    }

    .profile-information {
        width: 100%;
    }

    .badge-container {
        width: 25%;
    }
}







/* Properties for header elements */
header{
    background-color: rgba(255, 255, 255, 0.412);
    width: 100%;
    margin: 0;
  }
  
  
  .header-container {
    padding: 0px;
    margin: 0 auto;
    top: 0;
    left: 0;
    width: 100%;
    /* height: 100px; */
  }
  
  .main-header .header-container {
    /* position: relative; */
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  a {
    text-decoration: none;
    font-weight: 900;
    font-size: 16px;
  }
  
  ul {
    display: flex;
    list-style-type: none;
  }
  
  ul li a {
    padding: 0 20px;
    text-decoration: none;
    color: #ff7c59;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    justify-content: center;
  }
  
  ul li a:hover {
    color: rgb(44, 131, 60);
    transition: 0.5s ease-in-out;
  }
  
  .logo img {
    width: 60%;
  }
  
  /*Responsive header elements*/
  @media (max-width: 1000px) {
    header .header-container {
      flex-direction: column;
    }
  
    ul li a {
        padding: 0;
    }

    header {
      padding: 1px;
      overflow: hidden;
    }
  
    .logo img {
      margin: 0;
      padding: 10px;
      width: 20rem;
      height: 10rem;
    }
  
    nav{
      width: 100%;
    }
  
    ul{
      display: flex;
      justify-content: space-around;
    }
  
  }
  @media (max-width: 700px) {
    header .header-container {
      flex-direction: column;
    }
  
    header {
      flex-direction: column;
    }
  
    ul li a {
        padding: 0;
    }

    .logo img {
      margin: 0;
      padding: 10px;
      width: 20rem;
      height: 10rem;
    }
    header nav li {
      margin: 0;
    }
    /* .container {
      height: 160px;
    } */
  
    .main-header .container {
      flex-direction: column;
    }
  
    header nav li {
      margin: 0;
    }

    
    footer{
        display: none;
    }
  }
  
  
  @media screen and (max-width: 1000px){
      .login-panel{
          width: 80%;
      }
  
      .login-logo{
          width: 90%;
      }
  }