@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@200;300&family=Poppins:wght@200&family=Quicksand:wght@300&family=Rokkitt:wght@200&family=Source+Code+Pro:wght@300&font-display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: url("../images/pattern.webp");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: "Quicksand", sans-serif;
  font-display: swap;
  min-height: 100%;
  background-position: center center;
}

/* Properties for header elements */
.container {
  padding: 0px;
  margin: 0 auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.412);
}

.main-header .container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
  font-weight: 900;
  font-size: 16px;
}

ul {
  list-style-type: none;
}

.nav-bar {
  display: flex;
}

.nav-bar li a {
  padding: 0 20px;
  text-decoration: none;
  color: #ff7c59;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  justify-content: center;
}

.nav-bar li a:hover {
  color: rgb(44, 131, 60);
  transition: 0.5s ease-in-out;
}

.logo img {
  width: 29rem;
  height: 13rem;
  padding: 5px;
}

/*Responsive header elements*/
@media (max-width: 700px) {
  header {
    flex-direction: column;
    height: 190px;
  }

  ul {
    margin-bottom: 10px;
  }
  header nav li {
    margin: 0;
  }

  .container {
    height: 150px;
  }
}

/* Properties for main section elements */
main {
  display: flex;
  height: calc(100vh - 100px);
  align-items: center;
  justify-content: center;
}

.title-text {
  position: absolute;
  height: 300px;
  margin: 3% 35%;
  text-align: center;
  display: inline-block;
}

.title-text h1 {
  text-align: center;
  color: #e3a95f;
  text-transform: uppercase;
  font-size: 35px;
}

.title-text h1 span {
  color: #e18737;
  font-size: 35px;
}

.title-text img {
  width: 25rem;
  margin-top: 5px;
}

/*Responsive main elements*/
@media only screen and (max-width: 1000px) {
  .main-header .container {
    padding: 20px 50px;
  }
}

@media only screen and (max-width: 700px) {
  .main-header .container {
    flex-direction: column;
    height: 190px;
  }

  header nav li {
    margin: 0;
  }
}

/* General properties for section */
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 100px;
  background-color: rgba(228, 190, 168, 0.8);
  height: 550px;
}

.scroll {
  height: 550px;
  overflow-x: hidden;
  overflow-y: auto;
}

/* Responsive section */
@media (max-width: 1000px) {
  section {
    padding: 100px 50px;
  }
}

@media (max-width: 600px) {
  section {
    padding: 125px 30px;
  }
}

/*Leaderboard area*/
.divTableHeader {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  border: solid 0.5rem;
  border-radius: 1.5rem;
  border-color: rgba(149, 177, 175, 0.5);
  width: 120rem;
  background-color: rgba(149, 177, 175, 0.5);
}

.divTableHeader .divTableCell {
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 25px;
  font-size: 2.5rem;
  font-weight: bold;
  color: #205565;
  border-radius: 1.5rem;
}

.divTableRow {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  border-radius: 1.5rem;
  width: 120rem;
  background-color: rgba(149, 177, 175, 0.5);
}

.divTableRow .divTableCell {
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 25px;
  font-size: 2.5rem;
  font-weight: bold;
  color: #205565;
  border-radius: 1.5rem;
}

.divTableRow .divTableCell img {
  width: 10rem;
  height: 10rem;
}

/* Responsive Leaderboard area */
@media only screen and (max-width: 1000px) {
  .divTableHeader {
    width: 25rem;
  }

  .divTableRow {
    width: 25rem;
  }

  .divTableHeader .divTableCell {
    font-size: 1.3rem;
  }

  .divTableRow .divTableCell {
    font-size: 1.3rem;
  }

  .divTableRow .divTableCell img {
    width: 5rem;
    height: 5rem;
  }

  section {
    padding: 30px;
  }
}

@media only screen and (max-width: 700px) {
  .divTableHeader {
    width: 35rem;
  }

  .divTableRow {
    width: 35rem;
  }

  .divTableHeader .divTableCell {
    font-size: 1.3rem;
  }

  .divTableRow .divTableCell {
    font-size: 1.3rem;
  }

  .divTableRow .divTableCell img {
    width: 5rem;
    height: 5rem;
  }

  section {
    padding: 30px;
  }
}

/*Footer*/
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #fff;
  background-color: rgba(221, 221, 221, 0.8);
  padding: 60px 0;
  font-size: 25px;
  color: #ff7c59;
}

/* Responsive on Desktop screen */
@media only screen and (min-width: 1920px) {
  .title-text h1 {
    margin: 2rem;
    font-size: 50px;
  }
  .title-text h1 span {
    font-size: 50px;
  }

  .title-text img {
    width: 25rem;
    margin-top: 5px;
  }
}

/* Responsive on Mobile screen with portrait orientation*/
@media only screen and (min-width: 360px) and (max-width: 650px) and (orientation: portrait) {

  .main-header,
  .main-header .container {
    padding: 0;
  }

  .nav-bar li a {
    padding: 0 10px;
  }

  .title-text h1 {
    margin: 4rem 0rem;
    font-size: x-large;
  }

  .title-text h1 span {
    font-size: x-large;
  }

  .title-text img {
    width: 16rem;
  }

  .container {
    height: 150px;
  }

  .divTableHeader {
    width: 35rem;
  }

  .divTableRow {
    width: 35rem;
  }

  .divTableHeader .divTableCell {
    font-size: 1.3rem;
  }

  .divTableRow .divTableCell {
    font-size: 1.3rem;
  }

  .divTableRow .divTableCell img {
    width: 5rem;
    height: 5rem;
  }

  section {
    padding: 30px;
  }
}

/* Responsive on Mobile screen with landscape orientation*/
@media only screen and (min-width: 360px) and (max-width: 650px) and (orientation: landscape) {
  main {
    height: 22rem;
  }

  header {
    padding: 0;
  }

  .title-text {
    height: 100px;
  }

  .title-text h1 {
    font-size: 15px;
  }

  .title-text h1 span {
    font-size: 15px;
  }

  .container {
    height: 140px;
  }

  .title-text img {
    width: 10rem;
  }

  .divTableHeader {
    width: 60rem;
  }

  .divTableRow {
    width: 60rem;
  }

  .divTableHeader .divTableCell {
    font-size: 1.3rem;
  }

  .divTableRow .divTableCell {
    font-size: 1.3rem;
  }

  .divTableRow .divTableCell img {
    width: 5rem;
    height: 5rem;
  }

  section {
    padding: 30px;
  }
}

/* Responsive on Tablet screen with portrait orientation */
@media only screen and (min-width: 651px) and (max-width: 1920px) and (orientation: landscape) {

  .main-header,
  .main-header .container {
    padding: 0;
  }

  .title-text h1 {
    margin: 4rem 0rem;
  }

  .title-text img {
    width: 15rem;
  }

  .divTableHeader {
    width: 85rem;
  }

  .divTableRow {
    width: 85rem;
  }

  .divTableHeader .divTableCell {
    font-size: 1.3rem;
  }

  .divTableRow .divTableCell {
    font-size: 1.3rem;
  }

  .divTableRow .divTableCell img {
    width: 5rem;
    height: 5rem;
  }

  section {
    padding: 80px;
  }
}

/* Responsive on Tablet screen with landscape orientation */
@media only screen and (min-width: 651px) and (max-width: 1920px) and (orientation: portrait) {
  .container {
    height: 150px;
  }

  .divTableHeader {
    width: 60rem;
  }

  .divTableRow {
    width: 60rem;
  }

  .divTableHeader .divTableCell {
    font-size: 1.3rem;
  }

  .divTableRow .divTableCell {
    font-size: 1.3rem;
  }

  .divTableRow .divTableCell img {
    width: 5rem;
    height: 5rem;
  }

  section {
    padding: 30px;
  }
}