/*  BASE STYLING */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    background-image: url("../images/pattern.webp");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Quicksand', sans-serif;
    font-display: swap;
}

a {
    text-decoration: none;
    font-weight: 900;
    font-size: 16px;
}

img {
    width: 100%;
    height: auto;
}


/*-----HEADER PART-----*/
.container {
    padding: 0px;
    margin: 0 auto;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.412);
}

.main-header .container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    list-style-type: none;
}

ul li a {
    padding: 0 15px;
    text-decoration: none;
    color: #FF7C59;
    font-size: 18px;
    text-transform: uppercase;
    justify-content: center;

}

ul li a:hover {
    color: rgb(44, 131, 60);
    transition: .5s ease-in-out;
}

.logo img {
    width: 29rem;
    height: 13rem;
    padding: 5px;
}


/* --------BANNER PART---------- */

.banner-container {
    padding: 3% 3%;
}

.banner-container h1 {
    text-align: center;
    font-weight: 600;
    background: -webkit-linear-gradient(rgb(79, 129, 50), rgb(148, 207, 114));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
    padding-top: 3%;
}

.banner-container p {
    text-align: center;
    color: rgb(122, 174, 91);
    font-size: 35px;
    padding: 3% 3%;
    font-weight: 800;
}


/* --------COURSES PART--------- */
.courses-container {
    display: flex;
    padding: 5%;
    background: rgba(178, 216, 227, 0.795);
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

/*THE BOX WITH THE CONTAINER AND DIFFICULTY TAG*/
.courses-container .box {
    width: 550px;
    height: 300px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    transition: ease all .6s;
}

.course {
    width: 430px;
    height: 300px;
    padding: 5% 5%;
    border-radius: 18px;
    margin-bottom: 30px;
    background-color: rgb(245, 153, 114);
    background: rgb(254, 131, 79);
    background: linear-gradient(0deg, rgba(254, 131, 79, 1) 0%, rgba(245, 153, 114, 1) 95%);
    text-align: center;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
        rgba(0, 0, 0, 0.3) 0px 10px 16px -3px,
        rgba(0, 0, 0, 0.2) 0px -10px 3px inset;
    transition: .2s ease-in-out;
}

.course:hover {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
        rgba(0, 0, 0, 0.3) 0px 15px 21px,
        rgba(0, 0, 0, 0.2) 0px -10px 3px inset;
    transition: .2s ease-in-out;
}

.course h1 {
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: 900;
    font-size: 28px;
}


/*THE BUTTON FROM COURSES DIV*/
.btn {
    align-items: center;
    text-align: center;
    background-color: #ffffff;
    border-radius: 6px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -5px 0 inset;
    box-sizing: border-box;
    color: #0b628d;
    cursor: pointer;
    display: inline-flex;
    transition: box-shadow .15s, transform .15s;
    touch-action: manipulation;
    padding-left: 14px;
    padding-right: 14px;
    height: 48px;
    font-size: 19px;
    position: relative;
    top: 68px;
    font-weight: 600;
}

.btn a {
    color: #0b628d;
    font-weight: 600;
}

.btn:focus {
    box-shadow: #ffffff 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.btn:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -5px 0 inset;
    transform: translateY(-2px);
}

.btn:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}



/*DIFFICULTY TAG*/

.tag-shadow {
    height: 60px;
    filter: drop-shadow(2px 6px 3px rgba(50, 50, 0, 0.5));
}

.tag-easy {
    background: #88e899;
    color: rgb(63, 71, 92);
    text-align: left;
    padding: 6px 30px 20px 14px;
    height: 60px;
    position: relative;
    top: 40px;
    font: bold 30px 'Quicksand', sans-serif;
    font-display: swap;
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
        rgba(0, 0, 0, 0.3) 0px 10px 16px -3px,
        rgba(0, 0, 0, 0.2) 0px -12px 3px inset;
}

.tag-medium {
    background: #ea904c;
    color: rgb(63, 71, 92);
    text-align: left;
    padding: 6px 30px 20px 17px;
    height: 60px;
    position: relative;
    top: 40px;
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
        rgba(0, 0, 0, 0.3) 0px 10px 16px -3px,
        rgba(0, 0, 0, 0.2) 0px -9px 3px inset;
}

.tag-hard {
    background: #da4e4e;
    color: rgb(39, 44, 57);
    padding: 6px 30px 20px 14px;
    height: 60px;
    position: relative;
    top: 40px;
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
        rgba(0, 0, 0, 0.3) 0px 10px 16px -3px,
        rgba(0, 0, 0, 0.2) 0px -10px 3px inset;
}

.tag-shadow:hover {
    filter: drop-shadow(2px 6px 4px rgba(50, 50, 0, 0.5));
}

/*IMAGE*/

.photo {
    height: 40%;
    width: 70%;
    position: relative;
    background-repeat: no-repeat;
    left: 60px;
    top: -35px;

}

/* BOOKMARK */
.bookmark {
    height: 25%;
    width: 25%;
    position: relative;
    background-repeat: no-repeat;
    left: -70px;
    top: -215px;
    -webkit-filter: drop-shadow(5px 5px 5px rgba(82, 40, 14, 0.30));
    filter: drop-shadow(5px 5px 5px rgba(82, 40, 14, 0.30));
    transition: .3s ease-in-out;
}

.bookmark:hover {
    -webkit-filter: drop-shadow(5px 5px 5px rgba(82, 40, 14, 0.50));
    filter: drop-shadow(5px 5px 5px rgba(82, 40, 14, 0.50));
    transition: .3s ease-in-out;

}

.bookmark:before {
    content: attr(data-text);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    top: -15px;
    width: 110px;
    padding: 7px;
    border-radius: 10px;
    background: rgba(72, 143, 61, 0.834);
    color: #fff;
    text-align: center;
    font-size: 16px;
    opacity: 0;
    transition: .3s opacity;
}

.bookmark:hover:before {
    opacity: 1;
}

/*----------FOOTER----------*/
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #fff;
    background-color: rgb(221, 221, 221);
    padding: 60px 0;
    font-size: 35px;
    color: #ff7c59;
    width: 100%;
}

/*============MAKE RESPONSIVE FOR PHONE AND TABLET===========*/

@media (max-width:700px) {
    .main-header .container {
        flex-direction: column;
        height: 190px;
    }

    ul {
        margin-bottom: 10px;
    }

    .banner-container h1 {
        font-size: 43px;
    }


    .banner-container p {
        font-size: 30px;
    }

    header nav li {
        margin: 0;
    }
}

@media only screen and (max-width:555px) {
    .courses-container .box {
        width: 450px;
    }

    .box .tag {
        font-size: 26px;
    }

    .box .tag-easy {
        font-size: 26px;
    }

    .box .tag-medium {
        font-size: 26px;
    }

    .box .tag-hard {
        font-size: 26px;
    }

    .course .photo {
        left: 50px;
        top: -10px;
    }

    .course .bookmark {
        left: -60px;
        top: -190px;
    }
}

@media only screen and (max-width:460px) and (min-width:360px) {

    .courses-container .box {
        width: 360px;
    }

    .banner-container h1 {
        font-size: 40px;
    }

    .banner-container p {
        font-size: 28px;
    }

    .box .tag-easy {
        font-size: 23px;
        padding-top: 15px;
        padding-right: 22px;
        padding-left: 4px;
    }

    .box .tag-medium {
        font-size: 23px;
        padding-top: 15px;
        padding-right: 22px;
        padding-left: 4px;
    }

    .box .tag-hard {
        font-size: 23px;
        padding-top: 15px;
        padding-right: 22px;
        padding-left: 4px;
    }

    ul li a {
        padding: 0 13px;
        font-size: 18px;
    }

    .course .bookmark {
        left: -60px;
        top: -160px;
    }
}

@media only screen and (max-width:360px) {
    .main-header .container {
        width: 360px;
    }

    .courses-container {
        width: 360px;
    }

    .banner-container {
        width: 360px;
    }

    .banner-container h1 {
        font-size: 37px;
    }


    .banner-container p {
        font-size: 28px;
    }

    footer {
        width: 360px;
    }

    .courses-container .box {
        width: 350px;
    }

    .box .tag-easy {
        font-size: 20px;
        padding-top: 15px;
        padding-right: 20px;
        padding-left: 0px;
    }

    .box .tag-medium {
        font-size: 20px;
        padding-top: 15px;
        padding-right: 20px;
        padding-left: 0px;
    }

    .box .tag-hard {
        font-size: 20px;
        padding-top: 15px;
        padding-right: 20px;
        padding-left: 0px;
    }

    .course .photo {
        left: 40px;
        top: 0px;
    }

    header nav {
        width: 360px;
    }

    ul li a {
        padding: 0 13px;
        font-size: 18px;
    }

    .course .bookmark {
        left: -60px;
        top: -170px;
    }
}